@{
    ViewBag.Title = "Sign in - Hadouken";
}

@section Styles {
    <link href="@Url.Content("~/Content/openid-selector/openid-shadow.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <script type="text/javascript" src="~/Scripts/Users.SignIn/openid-jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/Users.SignIn/openid-en.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function() {
            openid.img_path = '@Url.Content("~/Content/openid-selector/images/")';
            openid.init('openid_identifier');
        });
    </script>
}

<h3>Sign in</h3>

<form action="@Url.Action("Authenticate", new{returnUrl = Request.QueryString["ReturnUrl"]})" method="POST" id="openid_form">
    <input type="hidden" name="action" value="verify" />

    <fieldset>
        <div id="openid_choice">
            <p>Please click your account provider:</p>
            <div id="openid_btns"></div>
        </div>
        <div id="openid_input_area">
            <input id="openid_identifier" name="openid_identifier" type="text" value="http://" />
            <input id="openid_submit" type="submit" value="Sign-In" />
        </div>
        <noscript>
            <p>
                OpenID is service that allows you to log-on to many different websites using a single indentity.
                Find out <a href="http://openid.net/what/">more about OpenID</a> and <a href="http://openid.net/get/">how to get an OpenID enabled account</a>.
            </p>
        </noscript>
    </fieldset>
</form>