@using Peach.Data.Domain
@model BlogPost

@{
    ViewBag.Title = Model.Title + " - Hadouken";
}

@if (User.IsInRole(Role.ContentWriter))
{
@section Actions
    {
        @Html.ActionLink("Edit blog post", "Edit", new{id = Model.Id})
    }
}

<h3>@Model.Title</h3>

@Model.Content
