@using Peach.Data.Domain
@model BlogPost

@{
    ViewBag.Title = Model.Title + " - Hadouken";
}

@helper Markdown(string input)
{
    var md = new MarkdownSharp.Markdown().Transform(input);
    @(new HtmlString(md))
}

@if (User.IsInRole(Role.ContentWriter))
{
    @section Actions
    {
        @Html.ActionLink("Edit blog post", "Edit", new{id = Model.Id})
    }
}

<h3>@Model.Title</h3>

@Markdown(Model.Content)
