@using Peach.Web.Models
@model NewReleaseDto

@{
    ViewBag.Title = "New release | Hadouken";
}

<h3>Create a new release</h3>

<p>Make sure it's stable! :)</p>

<form class="form-horizontal" role="form" action="@Url.Action("New")" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="version" class="control-label col-lg-2">Version</label>
        <div class="col-lg-2">
            <input type="text" class="form-control" id="version" name="version" value="@Model.Version" />
        </div>
    </div>
    
    <div class="form-group">
        <label for="attachedFiles" class="control-label col-lg-2">Files</label>
        <div class="col-lg-10">
            <input type="file" class="form-control" id="attachedFiles" name="attachedFiles" multiple="multiple" />
        </div>
    </div>
    
    <div class="form-group">
        <label for="releaseNotes" class="control-label col-lg-2">Release notes</label>
        <div class="col-lg-10">
            <textarea name="releaseNotes" id="releaseNotes" class="form-control" rows="10"></textarea>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary">Create new release</button>
        </div>
    </div>
</form>
