@model dynamic

@{
    ViewBag.Title = "Plugins | Hadouken";
}

<div class="row">
    <div class="col-lg-12">
        <div class="bs-callout bs-callout-info">
            <p>The plugins listed here are not necessarily made by the authors of Hadouken. Anyone can
                become a plugin developer and it is super easy to get going.</p>
            
            <p>Although you can download plugins here, this is just a mirror of the official Hadouken plugin
            repository which you can browse from your Hadouken instance.</p>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>AutoAdd</td>
                    <td>Monitors folders on your PC computer and adds any torrents it finds.</td>
                    <td><a href="#" class="btn btn-primary btn-xs">Details</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
