@model dynamic

@{
    ViewBag.Title = "Plugins | Hadouken";
}

<div class="row">
    <div class="col-lg-12">
        <h2>Plugins</h2>

        <p>
            This is an online browser for plugins. To install plugins to your Hadouken instance,
            use the plugin browser from within the web interface.
        </p>
    </div>
</div>
